.match {
  color: blue;
}

.fabricate, .deconstruct {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  margin: 20px 0;

  .required_items {
    display: grid;
    grid-template-columns: repeat(3, 135px);
    grid-gap: 12px;
  }

  .produced_items {
    display: grid;
    grid-template-columns: repeat(2, 135px);
    grid-gap: 12px;
  }

  .production-arrow {
    padding: 0 15px;
  }
}

.item-thumbnail {
  display: block;
  border: 1px solid green;
  padding: 15px;
}

.search-results > * {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid blue;
}
